<!DOCTYPE html>
<html lang="en">
<head><title><%= title %></title>
 <link rel="stylesheet" href="/stylesheets/bootstrap.css">
 <link rel="stylesheet" href="/stylesheets/bootstrap-responsive.css">
 <link href='https://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
 <style>
      body {
        padding-top: 60px;
        font-family: 'Crimson Text', Helvetica, Arial, sans-serif;
      }
      p#profilepic {
        background-position: center 25%;
        width: 64px;
        height: 64px;
      }
      .smallprofile {
        width: 100px;
      }
      p.profilename {
        padding: 5px;
        font-size: 1.2em;
      }
 </style>
 <script src="/scripts/jquery-1.7.2.min.js"></script>
 <script src="/scripts/bootstrap.min.js"></script>

</head>
<body>

<%- body %>

<footer align=center>
<!-- <div class="credits">2012 by <a href="http://gergely.imreh.net" target="_blank">GI</a></div> -->
</footer>
</body>
</html>
