<!DOCTYPE html>
<html lang="en">
<head><title><%= title %></title>
 <link rel="stylesheet" href="/stylesheets/bootstrap.css">
 <link rel="stylesheet" href="/stylesheets/bootstrap-responsive.css">
 <link href='https://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
 <meta property="og:title" content="台灣俚語字典 TaiwanSlang" />
 <meta property="og:type" content="website" />
 <meta property="og:url" content="http://twslang.herokuapp.com" />
 <meta property="og:image" content="http://twslang.herokuapp.com/img/logo.jpg?v1" />
 <meta property="og:site_name" content="台灣俚語字典 TaiwanSlang" />
 <meta property="og:description" content="Collection of useful words and expressions which cannot be found in 'normal' dictionaries." />
 <style>
      body {
        padding-top: 60px;
        font-family: 'Crimson Text', Arial, sans-serif;
      }
      p#profilepic {
        background-position: center 25%;
        width: 64px;
        height: 64px;
      }
      .smallprofile {
        width: 100px;
      }
      p.profilename {
        padding: 5px;
        font-size: 1.2em;
      }
      div.worddiv {
        font-size: large;
        padding: 10px;
      }
      a:hover {
        background-color: rgba(230,230,230,10);
        text-decoration: none;
      }
      .wordheader {
        font-weight: bold;
      }
      .wordshow {
        line-height:150%;
        font-size: large;
      }
      .top10num {
        font-size: large;
      }
      .top10head {
        vertical-align: right;
      }
 </style>
 <script src="/scripts/jquery-1.7.2.min.js"></script>
 <script src="/scripts/bootstrap.min.js"></script>

</head>
<body>

<%- body %>

<footer align=center style="padding: 70px;">
<div class="credits">2012 by <a href="http://gergely.imreh.net" target="_blank">Gergely Imreh</a></div>
</footer>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-12127510-8']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
